<html layout:decorate="~{layout}">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/project_list.css}">
</head>
<div layout:fragment="content" class="project_list_container">
	<div class="project_list_header">
		<h2>프로젝트</h2>
		<div class="btn_box">
			<button>
				<a th:href="@{/project/create}">프로젝트 만들기</a>
			</button>
			<button>
				<a th:href="@{#}">템플릿</a>
			</button>
		</div>
	</div>
	<div class="project_list_filter_box">
		<div class="input_box">
			<input type="text" placeholder="프로젝트 검색" />
			<img th:src="@{/images/search_icon.svg}" alt="" width="16" height="16" />
		</div>
		<div class="input_box">
			<input type="text" placeholder="제품별 필터링" />
			<img th:src="@{/images/list_down_icon.svg}" alt="" width="24" height="24" />
		</div>
	</div>
	<div class="project_list_main">
		<table>
			<colgroup>
				<col width="3%" />
				<col width="20%" />
				<col width="11%" />
				<col width="18%" />
				<col width="35%" />
				<col width="7%" />
				<col width="8%" />
			</colgroup>
			<tr>
				<th>
					<button>
						<img th:src="@{/images/star_icon_black.svg}" class="like_icon" alt="" width="16" height="16" />
						<img th:src="@{/images/arrow_tail_bottom_icon.svg}" class="sort_icon" alt="" width="16" height="16" />
					</button>
				</th>
				<th>
					<button>
						이름
						<img th:src="@{/images/arrow_tail_bottom_icon.svg}" alt="" width="16" height="16" />
					</button>
				</th>
				<th>
					<button>
						키
						<img th:src="@{/images/arrow_tail_bottom_icon.svg}" class="sort_icon left" alt="" width="16"
							height="16" />
					</button>
				</th>
				<th>유형</th>
				<th>
					<button>
						리더
						<img th:src="@{/images/arrow_tail_bottom_icon.svg}" class="sort_icon left" alt="" width="16"
							height="16" />
					</button>
				</th>
				<th>프로젝트<br /><b>URL</b></th>
				<th>추가 작업</th>
			</tr>
			<tr>
				<td>
					<button><img th:src="@{/images/star_icon_empty.svg}" alt="" /></button>
				</td>
				<td>
					<a href="#">
						<img class="css-1vqlrw"
							src="https://dahyun0521.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10424?size=medium"
							alt="" width="24" height="24" />
						hihihihi
					</a>
				</td>
				<td>HIH</td>
				<td>팀에서 관리하는 비즈니스</td>
				<td>
					<a href="#">
						<img src="https://secure.gravatar.com/avatar/b9cbfd8de5c356017cb37c217fc65409?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Fdefault-avatar-6.png"
							alt="" class="css-1gr7gcv" style="border-radius: 50%" width="24" height="24" />
						김대완
					</a>
				</td>
				<td></td>
				<td>
					<div>
						<div class="img_box">
							<img th:src="@{/images/three_dots_row_icon.svg}" alt="" />
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="project_list_paging_box">
		<button>
			<img th:src="@{/images/paging_left_icon.svg}" alt="" />
		</button>
		<ul>
			<li class="active">1</li>
			<li>2</li>
			<li>3</li>
		</ul>
		<button>
			<img th:src="@{/images/paging_right_icon.svg}" alt="" />
		</button>
	</div>
<script th:src="@{/js/project_list.js}"></script>
</div>
</html>