<div th:fragment="jiraUserAddFragment" class="jira_user_add_modal">

	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/jira_user_add.css}">
	</head>
	<div class="jira_user_add_container">
		<div class="jira_user_add_box">
			<h2>Jira에 사용자 추가</h2>
			<div class="input_box">
				<label>이름 또는 이메일<span class="not_null_check">*</span></label>
				<input type="text" placeholder="예: Maria, maria@company.com" />
			</div>
			<fieldset>
				<legend>또는 다음에서 추가</legend>
				<div class="btn_box">
					<button>
						<div><img th:src="@{/images/google_img.svg}" />Google</div>
					</button>
					<button>
						<div><img th:src="@{/images/slack_img.svg}" />Slack</div>
					</button>
					<button>
						<div><img th:src="@{/images/microsoft_img.svg}" />Microsoft</div>
					</button>
				</div>
			</fieldset>
			<p>
				이 사이트는 reCAPTCHA 기술로 보호되며 Google <a th:href="@{#}">개인 정보 보호 정책<img th:src="@{/images/new_tab_icon.svg}"
						width="10" height="10" /></a> 및 <a th:href="@{#}">이용약관<img th:src="@{/images/new_tab_icon.svg}"
						width="10" height="10" /></a>이(가) 적용됩니다.
			</p>
			<div class="btn_box">
				<button class="cancle_btn">취소</button>
				<button>추가</button>
			</div>
		</div>
	</div>
	<script th:src="@{/js/jira_user_add.js}"></script>
</div>